<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Editar la donacion</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <!-- Donation form -->
  <div class="inner-wrapper">
    <form [formGroup]="editDonationForm" (ngSubmit)="updateDonation()" novalidate>
      <!-- Left block -->
    <mat-card>
        <div class="controlers-wrapper">
          <!-- Donation title -->
          <mat-form-field class="example-full-width" maxlength="50">
            <input matInput placeholder="Título" formControlName="title">
            <mat-error *ngIf="handleError('title', 'required')">
              Intoduce un <strong>título</strong>
            </mat-error>
            <mat-error *ngIf="handleError('title', 'maxlength')">
              El <strong>título</strong> deber ser como máximo de 50 carácteres
            </mat-error>
          </mat-form-field>
  
          <!-- Donation description -->
          <mat-form-field class="example-full-width" maxlength="1000">
            <input matInput placeholder="Descripción" formControlName="description">
            <mat-error *ngIf="handleError('description', 'required')">
              Intoduce una <strong>descripción</strong>
            </mat-error>
            <mat-error *ngIf="handleError('description', 'maxlength')">
              La <strong>descripción</strong> deber ser como máximo de 1000 carácteres
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
  
      <!-- Right block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Publication date -->
          <!--<mat-form-field>
            <input matInput readonly [matDatepicker]="picker" placeholder="Fecha de modificación" formControlName="modified"
              (dateChange)="formatDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="handleError('modified', 'required')">
              Introduce la fecha de modificación
            </mat-error>
          </mat-form-field>-->
  
          <!-- Donation type -->
          <mat-form-field>
            <mat-label>Tipo de donación</mat-label>
            <mat-select [(value)]="selected" formControlName="type">
              <mat-option [value]="type" *ngFor="let type of DonationType">{{type}}</mat-option>
            </mat-select>
            <mat-error *ngIf="handleError('type', 'required')">
              Introduce el tipo de donación
            </mat-error>
          </mat-form-field>
  
          <!-- Donation location -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Localización" formControlName="location">
            <mat-error *ngIf="handleError('location', 'required')">
              Intoduce una <strong>localización</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn" type="button" (click)="updateDonation()">Actualizar</button>
            <button mat-flat-button color="war" type="button" (click)="goBack()">Volver atrás</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>