<section class="section section-lg section-hero section-shaped">
  <!-- Background circles -->
  <div class="shape shape-style-1 shape-primary">
    <span class="span-150"></span>
    <span class="span-50"></span>
    <span class="span-50"></span>
    <span class="span-75"></span>
    <span class="span-100"></span>
    <span class="span-75"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
  </div>
  <div class="displayTable">
    <div class="displayTableCell" style="margin-top: 80px;">
      <div class="authBlock">
        <h3 style="color: white;">Recuperación de contraseña</h3>

        <p style="color: white;" class="text-center">Por favor, introduce tu correo electrónico para resetear la contraseña.</p>
        <div class="formGroup" style="width: 300px; align-content: center; display: inline-block;">
          <input type="email" class="formControl" placeholder="Correo electrónico*" class="input-group input-group-alternative input-group-text ni ni-email-83"  #passwordResetEmail required>
        </div>

        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup" style="margin-top: 30px;">
          <input type="submit" class="btn btnPrimary" value="Resetear contraseña"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
    </div>
  </div>
</section>