div.element_profile_container {
    margin-top: 1em;
    background-color: #f7f7f7;
    border:1px solid #e6e6e6;
    overflow: hidden;
    padding: 1em;
    border-radius: 5px;
    -webkit-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    -moz-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    text-align: left;
}
  
div.element_profile_container:hover {
    background-color: #e6e6e6;
    border:1px solid #e6e6e6;
    overflow: hidden;
    padding: 1em;
    border-radius: 5px;
    -webkit-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    -moz-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
}
  
div.element_profile_img{ 
    width: 20%;
    float: left; 
    border-radius: 5px;
    overflow: hidden;
}
  
div.element_profile_text {
    width: 65%;
    float: left;
    margin-left: 2em;
}
  