<h1 mat-dialog-title style="text-align: center;">La donación ha sido solicitada por:</h1>

<div mat-dialog-content >
  <div class="element_profile_container" *ngFor="let datos of data.contactData">
    <div class="element_profile_img">
    <img src="{{(datos[6]) ? datos[6] : '/assets/img/icons/common/user-icon.png'}}" alt="{{datos[6]}}"
      class="rounded-circle" style="width: 130px;">
    </div>
    <div class="element_profile_text">
      <div class="element_profile_title">
        <p>{{datos[2]}}, {{datos[0]}} años</p>
      </div>
      <div class="element_profile_description">
        <p>{{datos[1]}}</p>
      </div>
      <div class="element_profile_contact">
        <p>Datos de contacto:<strong> {{datos[3]}}, {{datos[5]}}</strong></p>
        <p>Código postal: {{datos[9]}}</p>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="element_buttons" style="display: grid;">
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>