<!-- Donations requested list Angular material data table -->
<div class="mat-h1" *ngIf="DonationData.length == 0">
  <hr>
  <h2>¡Todavía no has solicitado ninguna donación!</h2>
  <hr>
</div>
<div class="container" *ngIf="DonationData.length > 0" style="margin-bottom: 30px;">
  <h1 class="mat-h1">Donaciones solicitadas </h1>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="ownerName">
        <th mat-header-cell *matHeaderCellDef> Publicado por </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.ownerName}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Localización </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.location}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Creada </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.created}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acción </th>
        <td mat-cell *matCellDef="let element; let i = index;" style="text-align: center;">
          <button mat-raised-button color="primary" class="push-right"(click)="createToken(element)">Crear Token</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>