<div class="container custom-container-2">

  <!-- Show it when there is no token -->
  <div class="no-data text-center" *ngIf="Token.length == 0">
    <p class="mat-h1">¡Todavía no tienes tokens!</p>
    <p class="btn btn-outline-primary" >Si quieres conseguir uno, sólo tienes que realizar una donación. La persona que la reciba, creará el token.</p>
  </div>

  <!-- Tokens list table, it hides when there is no token -->
  <div *ngIf="Token.length !== 0">
    <hr>
    <h3 class="mb-3 text-center">Lista de tokens</h3>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="tokenID">
        <th mat-header-cell *matHeaderCellDef> ID Token </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;">{{element._id}}</td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Creado </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element._created}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element._typeDonation}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acción </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <form [formGroup]="transferForm" *ngIf="authService.userData as user">
            <mat-card *ngIf="(user.role!='Empresa')">
              <div style="align-items: center; vertical-align: top; height: 40px;">
                <!-- Token transfer -->
                <mat-form-field maxlength="50" style="width: 200px;">
                  <input matInput placeholder="ID de la Empresa" formControlName="EmpresaID" style="width: 230px;">
                  <mat-error *ngIf="handleError('EmpresaID', 'required')">
                    Intoduce un <strong>ID</strong>
                  </mat-error>
                  <mat-error *ngIf="handleError('EmpresaID', 'maxlength')">
                    El <strong>ID</strong> deber ser como máximo de 50 carácteres
                  </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" class="push-right" (click)="transfer(element)"
                  style="width: 14  0px; margin-left: 10px;">Gastar
                  Token</button>
              </div>
            </mat-card>
          </form>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>

</div>