<section class="section section-lg section-hero section-shaped">
  <!-- Background circles -->
  <div class="shape shape-style-1 shape-primary">
    <span class="span-150"></span>
    <span class="span-50"></span>
    <span class="span-50"></span>
    <span class="span-75"></span>
    <span class="span-100"></span>
    <span class="span-75"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
  </div>
  <div class="displayTable">
    <div class="displayTableCell">

      <div class="authBlock" style="margin-top: 100px;">
        <h3 style="color: white;">¡Gracias por tu registro!</h3>

        <div class="formGroup" *ngIf="authService.userData as user">
          <p style="color: white;" class="text-center">Hemos enviado un correo de confirmación a <strong>{{user.email}}</strong>.</p>
          <p style="color: white;" class="text-center">Por favor, revisa tu email y valida la cuenta accediendo al enlace que te hemos enviado al correo.</p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt" style="color: white;"></i>
            Volver a enviar email de confirmación
          </button>
        </div>

      </div>
    </div>
  </div>
</section>