<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/robin/Robin_logoCompleto.svg" style="width: 300px;" class="img-fluid">
              <p class="lead text-white"> ¿Quieres donar y no sabes a quién? </p>
                
              <p class="lead text-white">En esta página web podrás conectar con personas que viven en situaciones de vulnerabilidad y ONGs. Las donaciones pueden ser ropa, juguetes, libros, bicicletas, material educativo, tecnología... Además por cada donación que realices, recibirás un token que podrás gastar como un descuento en una de las empresas socialmente responsables asociadas.</p>

              <div class="btn-wrapper mt-5">
                <a [routerLink]="['/register']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Regístrate</span>
                </a>
                <a [routerLink]="['/login']" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Inicia</span> Sesión</span>
                </a>
              </div>
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*realizado por</small>
                <img src="./assets/img/robin/Robin_logoCompleto.svg" style="height: 28px;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <!--<app-sections></app-sections>-->
</main>
