div.element_profile_container {
    border-radius: 5px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
    height: 800px;
    -webkit-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    -moz-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
  }
  
  div.list_discount_element {
    margin-top: 1em;
    background-color: #f7f7f7;
    border:1px solid #e6e6e6;
    overflow: hidden;
    padding: 1em;
    border-radius: 5px;
    -webkit-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    -moz-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    text-align: left;
  }
  
  div.list_discount_element:hover {
    background-color: #e6e6e6;
    border:1px solid #e6e6e6;
    overflow: hidden;
    padding: 1em;
    border-radius: 5px;
    -webkit-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    -moz-box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
    box-shadow: 10px 0px 18px -5px rgba(217,217,217,1);
  }
  
  div.element_discount_img { 
    width: 300px;
    float: left; 
    border-radius: 5px;
    overflow: hidden;
  }
  div.element_img_background{
    background-image: url(); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
  }
  
  div.element_discount_text {
    width: 65%;
    float: left;
    margin-left: 2em;
  }

  div.element_discount_localization {
    color: #038b74;
    margin-top: -0.8em; 
  
  }
  div.element_discount_date {
    color:grey;
    margin-top: -1.2em; 
  }
  
  div.element_discount_type {
    float: left;
    overflow: hidden;  
  }
  
  p.element_discount_type {
    justify-content: left;
    
    display: block;
  }
  
  div.element_discount_button button{
    float: right;
    overflow: hidden;
    padding: 1em 3em;
    background-color: #038b74;
    color: white;
    justify-content: center;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
  }
  
  div.element_discount_button button:hover{
    float: right;
    overflow: hidden;
    padding: 1em 3em;
    background-color: #045646;
    color: white;
    justify-content: center;
    border-radius: 5px;
    border: none;
  }