<section class="section section-lg section-hero section-shaped">
  <!-- Background circles -->
  <div class="shape shape-style-1 shape-primary">
    <span class="span-150"></span>
    <span class="span-50"></span>
    <span class="span-50"></span>
    <span class="span-75"></span>
    <span class="span-100"></span>
    <span class="span-75"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
  </div>
  <div *ngIf="DiscountData.length == 0">
    <h1 style="color:  white;">¡Todavía no hay ningún descuento publicado!</h1>
  </div>

  <div class="top-container">
    <div class="container" style="margin-top: 90px;" *ngIf="DiscountData.length > 0">
      <div class="container_scroll" style="height: max-content;">
        <div class="list_discount_element" *ngFor="let discount of DiscountData">

          <div class="element_discount_img" >
            <img src="{{discount.pictureURL}}" class="element_img_background" style="border: 1px; height: 250px;">
          </div>
          <div class="element_discount_text">
            <div class="element_discount_type" style="float: right; margin-top: 30px; margin-right: 30px;">
              <p class="element_discount_type_bold"> Caduda el día: <strong> {{discount.expirationDate}} </strong></p>
              <p class="element_discount_type_bold"> Publicada por: <strong> {{discount.companyName}} </strong></p>
              <p class="element_discount_type_bold"> ID para canjear descuento:</p>
              <p class="element_discount_type_bold"> <strong> {{discount.companyID}} </strong></p>
            </div>
            <div class="element_discount_title" style=" margin-top: 20px;">
              <h2>{{discount.title}}</h2>
            </div>
            <div class="element_discount_date" style="margin-top: 10px;">
              <p> {{discount.created}}</p>
            </div>
            <div class="element_discount_localization">
              <p> {{discount.location}}</p>
            </div>
            <div class="element_discount_description" style="width: 400px;">
              <p>{{discount.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>