<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Publica una donación</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Donation form -->
<div class="inner-wrapper" style="padding: 50px;">
  <form [formGroup]="donationForm" (ngSubmit)="submitDonation()" #resetDonationForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Donation title -->
        <mat-form-field class="example-full-width" maxlength="50">
          <input matInput placeholder="Título*" formControlName="title">
          <mat-error *ngIf="handleError('title', 'required')">
            Intoduce un <strong>título</strong>
          </mat-error>
          <mat-error *ngIf="handleError('title', 'maxlength')">
            El <strong>título</strong> deber ser como máximo de 50 carácteres
          </mat-error>
        </mat-form-field>
        <!-- Donation type -->
        <mat-form-field>
          <mat-label>Tipo de donación*</mat-label>
          <mat-select [(value)]="selected" formControlName="type">
            <mat-option [value]="type" *ngFor="let type of DonationType">{{type}}</mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('type', 'required')">
            Introduce el tipo de donación
          </mat-error>
        </mat-form-field>
        <!-- Donation description -->
        <mat-form-field class="example-full-width" maxlength="1000">
          <textarea matInput placeholder="Descripción*" formControlName="description" rows="4" cols="50">
                  </textarea>
          <mat-error *ngIf="handleError('description', 'required')">
            Intoduce una <strong>descripción</strong>
          </mat-error>
          <mat-error *ngIf="handleError('description', 'maxlength')">
            La <strong>descripción</strong> deber ser como máximo de 1000 carácteres
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Donation location -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Localización*" formControlName="location">
          <mat-error *ngIf="handleError('location', 'required')">
            Intoduce una <strong>localización</strong>
          </mat-error>
        </mat-form-field>
        <p>Adjunta una imagen de la donación</p>
        <form [formGroup]="pictureForm" (ngSubmit)="uploadPicture()">
          <div class="file has-name is-boxed">
            <label class="file-label">
              <input class="file-input"  type="file" formControlName="picture" (change)="changePicture($event)">
              <span class="file-cta">
                <span class="file-label">
                  Elegir una imagen...
                </span>
              </span>
              <span class="file-name">
                {{ pictureMessage }}
              </span>
              <progress *ngIf="percentage > 0 && percentage < 100" class="progress is-large is-success"
                value="{{percentage}}" max="100">{{percentage}}%</progress>
            </label>
          </div>
        </form>
        <!-- Submit & Reset -->
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn"[disabled]="!donationForm.valid">Publicar</button>
            <button mat-flat-button color="war" (click)="resetForm()">Borrar</button>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
  <hr>
</div>