<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Iniciar sesión con</small>
              </div>
              <div class="btn-wrapper text-center">
                <a (click)="authService.FacebookAuth()" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/facebook.png">
                  </span>
                  <span class="btn-inner--text">Facebook</span>
                </a>
                <a (click)="authService.GoogleAuth()" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>O iniciar sesión con credenciales</small>
              </div>
              <form role="form">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false" #email required>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Contraseña" type="password" (focus)="focus1=true" (blur)="focus1=false" #userPassword required>
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span>Mantener la sesión iniciada</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="button" (click)="authService.SignIn(email.value, userPassword.value)" class="btn btn-primary my-4">Iniciar sesión</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a routerLink="/forgot-password" class="text-light">
                <small>¿Has olvidado la contraseña?</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a routerLink="/register" class="text-light">
                <small>Crear una nueva cuenta</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>