<!-- Donations list Angular material data table -->
<div class="container" *ngIf="DonationData.length == 0">
  <h2>¡Todavía no has publicado ninguna donación!</h2>
</div>
<div class="container" *ngIf="DonationData.length > 0">
  <h1 class="mat-h1">Donaciones publicadas </h1>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="publicURL">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;">
          <img [src]="element.pictureURL" style="width: 100px; margin-right: 10px;"/>       
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Localización </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.location}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Creada </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.created}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones </th>
        <td mat-cell *matCellDef="let element; let i = index;" style="display: grid; justify-content: right; " >
          <button mat-raised-button color="warn" class="push-right"
            [routerLink]="['/edit-donation/', element.$key]" style="width: 120px;" *ngIf="element.status==='Publicado'">Editar</button>
          <button mat-raised-button color="primary" (click)="deleteDonation(i, element)" *ngIf="element.status!=='Terminada'" style="width: 120px;">Borrar</button>
          <button mat-raised-button color="accent" class="push-right" *ngIf="element.status==='Solicitada'" (click)="showContacts(element)" style="width: 120px;">Ver solicitantes</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>