<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300" *ngIf="authService.userData as user">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="{{(user.photoURL) ? user.photoURL : '/assets/img/icons/common/user-icon.png'}}"
                    alt="{{user.displayName}}" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <!--<a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Conecta</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Mensaje</a>-->
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <p></p>
                  <!--
                  <span class="heading">0</span>
                  <span class="description">Donaciones</span>-->
                </div>
                <div>
                  <!--
                  <span class="heading">0</span>
                  <span class="description">Tokens</span>-->
                </div>
                <!--<div>
                  <span class="heading">0</span>
                  <span class="description">Amigos</span>
                </div>-->
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{(user.displayName) ? user.displayName : 'User'}}
              <span class="font-weight-light" *ngIf="(user.age!=null && user.age !=0)">, {{user.age}}</span>
            </h3>
            <div class="h6 mt-4" *ngIf="(user.role!=null && user.role !=0)"><i
                class="ni business_briefcase-24 mr-2"></i>
              Rol de usuario/a: <strong>{{user.role}}</strong>
            </div>
            <div class="profile_information"
              style="width: max-width;margin-top: 30px;  margin-right: 30px;" *ngIf="(user.zipcode!=null && user.zipcode !=0)">
              <div class="profile_information_left" style="display:inline-block; text-align: left;">
                <div class="h6 font-weight-300"><i class="ni business_briefcase-24 mr-2"></i>
                  Correo: <strong>{{user.email}}</strong>
                </div>
                <div class="h6 font-weight-300"><i class="ni business_briefcase-24 mr-2"></i>
                  Correo Verificado: <strong *ngIf="(user.emailVerified)">Sí</strong><strong
                    *ngIf="(!user.emailVerified)">No, revisa el correo</strong>
                </div>
                <div class="h6 font-weight-300" *ngIf="(user.description!=null && user.description !=0)"><i class="ni business_briefcase-24 mr-2"></i>
                  Descripción de usuario/a:
                  <p><i class="ni business_briefcase-24 mr-2"></i>
                    <strong>{{(user.description) ? user.description : 'No hay descripcion...... Lorem ipsum dolor sit amet consectetur adipiscing elit, dictumst porttitor auctor ultricies nullam eleifend sagittis magna, etiam facilisi ultrices ut tempus luctus. Metus nam suscipit viverra elementum ridiculus ultricies dignissim, nec integer tempor ultrices libero sem, pharetra pulvinar vitae rhoncus laoreet eleifend. Dictumst ante luctus erat vulputate blandit metus fringilla rhoncus, praesent duis urna interdum neque tortor platea feugiat, integer suspendisse mattis at orci vel fusce.'}}</strong>
                  </p>
                </div>
              </div>
              <div class="profile_information_right"
                style="display:inline-block; margin-left: 200px; vertical-align: top; text-align: right;">
                <div class="h6 font-weight-300" *ngIf="(user.zipcode!=null && user.zipcode !=0)"><i
                    class="ni location_pin mr-2"></i>Código Postal: <strong>
                    {{(user.zipcode)  ? user.zipcode : '28000'}} </strong>
                </div>
                <div class="h6 font-weight-300" *ngIf="(user.phone!=null && user.phone !=0)"><i
                    class="ni location_pin mr-2"></i>Teléfono:
                  <strong>{{(user.phone) ? user.phone : '666666666'}}</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="inner-wrapper" style="padding: 50px;" *ngIf="(user.phone==null ||user.phone ==0)">
            <ng-container *ngIf="(user.phone==null ||user.phone ==0)">
              <mat-divider fxFlex="1 0"></mat-divider>
              <p> ¡Termina de completar los datos de perfil!</p>
              <p> Nota informativa: los datos de contacto se mostrarán al donante cuando hayas solicitado una donación</p>
              <form [formGroup]="profileForm">
                <!-- Left block -->
                <mat-card>
                  <div class="controlers-wrapper">
                    <mat-form-field class="example-full-width">
                      <mat-label>Rol de usuario/a*</mat-label>
                      <mat-select [(value)]="selected" formControlName="role">
                        <mat-option [value]="role" *ngFor="let role of RoleType">{{role}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="role.invalid">
                        Se requiere un rol de usuario/a
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <input matInput type="zipcode" formControlName="zipcode" placeholder="Código postal*">
                      <mat-error *ngIf="zipcode.invalid && zipcode.touched">
                        Se requiere introducir un código postal de 5 dígitos númericos
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <input matInput type="phone" formControlName="phone" placeholder="Número de teléfono*">
                      <mat-error *ngIf="phone.invalid && phone.touched">
                        Se requiere introducir un número de teléfono de 9 dígitos númericos
                      </mat-error>
                    </mat-form-field>
                  </div>
                </mat-card>

                <!-- Right block -->
                <mat-card>
                  <div class="controlers-wrapper">
                    <mat-form-field>
                      <input matInput type="age" formControlName="age" placeholder="Edad en años*">
                      <mat-error *ngIf="age.invalid && age.touched">
                        Se requiere introducir la edad con 2 dígitos númericos
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <textarea matInput type="description" formControlName="description" placeholder="Descripción*"
                        rows="4" cols="50"></textarea>
                      <mat-error *ngIf="description.invalid && age.touched">
                        Se requiere introducir una breve descripción
                      </mat-error>
                    </mat-form-field>
                  </div>
                </mat-card>
                <mat-card>
                  <div *ngIf="profileForm.valid">¡Los datos son correctos!</div>
                  <div class="full-wrapper button-wrapper">
                    <div class="button-wrapper">
                      <button mat-flat-button color="warn" (click)="SetProfileData()"
                        [disabled]="!profileForm.valid">Actualizar</button>
                      <button mat-flat-button color="war" (click)="ResetProfileForm()">Borrar</button>
                    </div>
                  </div>
                </mat-card>
              </form>
            </ng-container>
          </div>
          <div *ngIf="(user.role=='Donatario'||user.role =='ONG')">
            <app-donations-requested-list></app-donations-requested-list>
          </div>
          <div *ngIf="(user.role=='Empresa')">
            <app-discount></app-discount>
          </div>
          <app-add-donation></app-add-donation>
          <app-donation-list></app-donation-list>
          <app-token-list></app-token-list>
        </div>
      </div>
    </div>
  </section>
</main>