<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Transferir Token</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="tokenDetails.id" class="form-control" placeholder="ID">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="tokenDetails.ownerID" class="form-control" placeholder="PropietarioID">
    </div>
    
    <div class="form-group">
      <input type="text" [(ngModel)]="tokenDetails.doneeID" class="form-control" placeholder="DonatarioID">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="tokenDetails.created" class="form-control" placeholder="Fecha de creación">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="tokenDetails.spent" class="form-control" placeholder="Gastado">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="tokenDetails.type" class="form-control" placeholder="Tipo">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateToken()">Transferir token</button>
    </div>
    
  </div>
</div>