<section class="section section-lg section-hero section-shaped">
  <!-- Background circles -->
  <div class="shape shape-style-1 shape-primary">
    <span class="span-150"></span>
    <span class="span-50"></span>
    <span class="span-50"></span>
    <span class="span-75"></span>
    <span class="span-100"></span>
    <span class="span-75"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
  </div>
  <div *ngIf="DonationData.length == 0">
    <h1 style="color:  white;">¡Todavía no hay ninguna donación publicada!</h1>
  </div>

  <div class="top-container">
    <div class="container" style="margin-top: 90px;" *ngIf="DonationData.length > 0">
      <div class="container_scroll" style="height: max-content;">
        <div class="list_donation_element" *ngFor="let donation of DonationData">

          <div class="element_donation_img" >
            <img src="{{donation.pictureURL}}" class="element_img_background" style="border: 1px; height: 250px;">
          </div>
          <div class="element_donation_text">
            <div class="element_donation_type" style="float: right; margin-top: 30px; margin-right: 30px;">
              <p class="element_donation_type_bold"> Tipo: <strong> {{donation.type}} </strong></p>
              <p class="element_donation_type_bold"> Publicado por: <strong> {{donation.ownerName}} </strong></p>
              <div *ngIf="authService.userData as user">
                <div class="element_donation_button" style="margin-top: 50px;"
                  *ngIf="(user.role=='Donatario'||user.role =='ONG')">
                  <button (click)="request(donation)">Solicitar</button>
                </div>
              </div>
            </div>
            <div class="element_donation_title" style=" margin-top: 20px;">
              <h2>{{donation.title}}</h2>
            </div>
            <div class="element_donation_date" style="margin-top: 10px;">
              <p> {{donation.created}}</p>
            </div>
            <div class="element_donation_localization">
              <p> {{donation.location}}</p>
            </div>
            <div class="element_donation_description" style="width: 400px; margin-top: 20px;">
              <p>{{donation.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>